<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item nav-profile">
        <a href="#" class="nav-link">
          <div class="nav-profile-image">
            <img src="{{ url_for('static', filename='images/user.png') }}" alt="profile">
            <span class="login-status online"></span> <!--change to offline or busy as needed-->              
          </div>
          <div class="nav-profile-text d-flex flex-column">
            <span class="font-weight-bold mb-2 mt-2">Admin</span>
            <!-- <span class="text-secondary text-small">Project Manager</span> -->
          </div>
          <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
        </a>
      </li>
      <li class="nav-item {% if request.path == '/' %}active{% endif %}">
        <a class="nav-link" href="{{ url_for('home') }}">
            <span class="menu-title">Home</span>
            <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li>
      <li class="nav-item {% if 'influencer' in request.path %}active{% endif %}">
        <a class="nav-link" href="{{ url_for('influencer') }}">
            <span class="menu-title">Influencer</span>
            <i class="mdi mdi-contacts menu-icon"></i>
        </a>
      </li>
      <li class="nav-item {% if 'kampanye' in request.path %}active{% endif %}">
        <a class="nav-link" href="{{ url_for('kampanye') }}">
            <span class="menu-title">Kampanye</span>
            <i class="mdi mdi-format-list-bulleted menu-icon"></i>
        </a>
      </li>
      <li class="nav-item sidebar-actions">
        <span class="nav-link">
          <div class="border-bottom">
            <!-- <h6 class="font-weight-normal mb-3">Projects</h6>                 -->
          </div>
          <form action="{{ url_for('logout') }}" method="get">
            <button type="submit" class="btn btn-block btn-lg btn-gradient-primary mt-4">
                <i class="mdi mdi-logout mr-2 text-white"></i> Logout
            </button>
          </form>
        </span>
      </li>
    </ul>
  </nav>