<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel"></h5>
        </div>
        <div class="modal-body text-center">
          <h3>Yakin ingin menghapus kampanye?</h3>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="button" class="btn btn-rounded btn-md btn-light" data-dismiss="modal">Batal</button>
          <button type="button" class="btn btn-rounded btn-md btn-danger">Hapus</button>
        </div>
      </div>
    </div>
</div>
