{% extends "layout.html" %}

{% block body_main %}
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
          <i class="mdi mdi-home"></i>                 
        </span>
          {{ campaign.namaCampaign }}
      </h3>
      <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
            <span></span>Overview
            <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
          </li>
        </ul>
      </nav>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <div class="input-group" style="width: 300px;">
          <div class="input-group-prepend">
            <span class="input-group-text bg-white text-primary" style="border-bottom-left-radius: 20px; border-top-left-radius: 20px;">
              <i class="mdi mdi-magnify"></i>
            </span>
          </div>
          <input type="text" class="form-control" aria-label="" placeholder="Masukan URL video" style="border-bottom-right-radius: 20px; border-top-right-radius: 20px;">
        </div>
      </div>
      <div class="col-md-6 mb-3 text-right">
        <button type="button" class="btn btn-sm btn-gradient-success btn-rounded justify-content-center" data-toggle="modal" data-target="#addPostModal{{campaign._id}}">+ Add Post</button>
        {% from 'add_post.html' import render_add_post_modal %}
          {{ render_add_post_modal(campaign) }}
      </div>
    </div>
    <div class="row">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <!-- <h4 class="card-title">Kampanye</h4> -->
            <h6 class="mb-4">Latest Retrieve: 19 Oktober 2023 <button type="button" class="btn btn-sm btn-gradient-info btn-rounded ml-4">Sync now</button></h6>
            <div class="table-responsive">
              <table class="table text-center">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>URL</th>
                    <th>Creator</th>
                    <th>Likes</th>
                    <th>Views</th>
                    <th>Comments</th>
                    <th>Shares</th>
                    <th>Engagement</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for video in campaign.video %}
                  <tr>
                      <td>{{ loop.index }}</td>
                      <td><a href="{{ video.video_url }}" target="_blank">Link</a></td>
                      <td>{{ video.username }}</td>
                      <td>{{ video.likeCount }}</td>
                      <td>{{ video.playCount }}</td>
                      <td>{{ video.commentCount }}</td>
                      <td>{{ video.shareCount }}</td>
                      <td>{{ video.engagementRate }}</td>
                      <td>
                          <button type="button" class="btn btn-sm btn-gradient-info" data-toggle="modal" data-target="#editVideo{{ loop.index }}">
                              <i class="mdi mdi-pencil"></i>
                          </button>
                          {% from 'edit_video.html' import render_edit_video %}
                            {{ render_edit_video(campaign, video, loop.index) }}
                          <button type="button" class="btn btn-sm btn-gradient-danger" data-toggle="modal" data-target="#deleteVideo{{ loop.index }}">
                              <i class="mdi mdi-delete"></i>
                          </button>
                          {% from 'delete_video.html' import render_delete_video %}
                            {{ render_delete_video(campaign, video, loop.index) }}
                      </td>
                  </tr>
                  {% endfor %}
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}