<!-- Edit Kampanye Modal -->
{% macro render_edit_kampanye(campaign) %}
  <div class="modal fade" id="editKampanye{{ campaign.id }}" tabindex="-1" role="dialog" aria-labelledby="editKampanyeLabel{{ campaign.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editKampanyeLabel">Edit Kampanye</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ url_for('edit_kampanye', campaign_id=campaign.id) }}" method="POST">
                <div class="modal-body text-left">
                    <div class="form-group">
                        <label for="editCampaignName">Nama Kampanye</label>
                        <input type="text" class="form-control" id="editCampaignName" name="edited_campaign_name" value="{{ campaign.namaCampaign }}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-danger btn-rounded" data-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-sm btn-primary btn-rounded">Simpan</button>
                </div>
            </form>
                  
        </div>
    </div>
  </div>
{% endmacro %}