{% extends "layout.html" %}

{% block body_main %} 
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-home"></i>                 
                </span>
                Home
            </h3>
        </div>
        <div class="row">
            <div class="col-md-6 stretch-card grid-margin">
                <div class="card bg-gradient-danger card-img-holder text-white">
                    <div class="card-body">
                        <img src="{{ url_for('static', filename=
        'images/dashboard/circle.svg') }}" class="card-img-absolute" alt="circle-image"/>     
                        <h4 class="font-weight-bold mb-3">Total Influencer</h4>
                        <h1 class="card-text">950</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-6 stretch-card grid-margin">
                <div class="card bg-gradient-info card-img-holder text-white">
                <div class="card-body">
                    <img src="{{ url_for('static', filename=
        'images/dashboard/circle.svg') }}" class="card-img-absolute" alt="circle-image"/>                  
                    <h4 class="font-weight-normal mb-3">Total Campaign</h4>
                    <h1 class="card-text">3</h1>
                </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 grid-margin">
                                <h4 class="card-title">Top 5 Influencers</h4>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="text-center">
                                            <tr>
                                                <th>
                                                    Growth
                                                </th>
                                                <th colspan="2">
                                                    Username
                                                </th>
                                                <th colspan="3">
                                                    Stats
                                                </th>
                                                <th>
                                                    Prediksi
                                                </th>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th>
                                                    Followers
                                                </th>
                                                <th>
                                                    Total Likes
                                                </th>
                                                <th>
                                                    Total Views
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-center">
                                            <tr>
                                                <td>
                                                    <div class="container badge badge-gradient-danger">
                                                        -3%
                                                    </div>
                                                </td>
                                                <td>
                                                    <img src="{{ url_for('static', filename='images/faces/face1.jpg') }}" class="mr-2" alt="image">
                                                </td>
                                                <td class="text-left">
                                                    David Grey
                                                </td>
                                                <td>
                                                    240K
                                                </td>
                                                <td>
                                                    3M
                                                </td>
                                                <td>
                                                    5M
                                                </td>
                                                <td>
                                                    <a href="{{ url_for('influencer') }}" class="btn btn-sm btn-gradient-primary btn-rounded">Detail</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="container badge badge-gradient-success">
                                                        3%
                                                    </div>
                                                </td>
                                                <td>
                                                    <img src="{{ url_for('static', filename='images/faces/face2.jpg') }}" class="mr-2" alt="image">
                                                </td>
                                                <td class="text-left">
                                                    Stella Johnson
                                                </td>
                                                <td>
                                                    240K
                                                </td>
                                                <td>
                                                    3M
                                                </td>
                                                <td>
                                                    5M
                                                </td>
                                                <td>
                                                    <a href="{{ url_for('influencer') }}" class="btn btn-sm btn-gradient-primary btn-rounded">Detail</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="container badge badge-gradient-success">
                                                        10%
                                                    </div>
                                                </td>
                                                <td>
                                                    <img src="{{ url_for('static', filename='images/faces/face3.jpg') }}" class="mr-2" alt="image">
                                                </td>
                                                <td class="text-left">
                                                    Marina Michel
                                                </td>
                                                <td>
                                                    240K
                                                </td>
                                                <td>
                                                    3M
                                                </td>
                                                <td>
                                                    5M
                                                </td>
                                                <td>
                                                    <a href="{{ url_for('influencer') }}" class="btn btn-sm btn-gradient-primary btn-rounded">Detail</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="container badge badge-gradient-danger">
                                                        -40%
                                                    </div>
                                                </td>
                                                <td>
                                                    <img src="{{ url_for('static', filename='images/faces/face4.jpg') }}" class="mr-2" alt="image">
                                                </td>
                                                <td class="text-left">
                                                    John Doe
                                                </td>
                                                <td>
                                                    240K
                                                </td>
                                                <td>
                                                    3M
                                                </td>
                                                <td>
                                                    5M
                                                </td>
                                                <td>
                                                    <a href="{{ url_for('influencer') }}" class="btn btn-sm btn-gradient-primary btn-rounded">Detail</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-12 grid-margin text-center">
                                <div class="container col-2">
                                    <a href="{{ url_for('influencer') }}" class="btn btn-sm btn-gradient-primary btn-rounded">Lihat Lebih</a>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}