{% extends "layout.html" %}

{% block body_main %} 
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-home"></i>                 
                </span>
                Home
            </h3>
        </div>
        <div class="row">
            <div class="col-md-6 stretch-card grid-margin">
                <div class="card bg-gradient-danger card-img-holder text-white">
                    <div class="card-body">
                        <img src="{{ url_for('static', filename=
        'images/dashboard/circle.svg') }}" class="card-img-absolute" alt="circle-image"/>     
                        <h4 class="font-weight-bold mb-3">Total Influencer</h4>
                        <h1 class="card-text">{{ total_influencer }}</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-6 stretch-card grid-margin">
                <div class="card bg-gradient-info card-img-holder text-white">
                <div class="card-body">
                    <img src="{{ url_for('static', filename=
        'images/dashboard/circle.svg') }}" class="card-img-absolute" alt="circle-image"/>                  
                    <h4 class="font-weight-normal mb-3">Total Campaign</h4>
                    <h1 class="card-text">{{ total_campaign }}</h1>
                </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 grid-margin">
                                <h4 class="card-title">Top 5 Influencers</h4>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="text-center">
                                            <tr>
                                                <th>
                                                    Growth
                                                </th>
                                                <th colspan="2">
                                                    Username
                                                </th>
                                                <th>
                                                    Followers
                                                </th>
                                                <th>
                                                    Total Likes
                                                </th>
                                                <th>
                                                    Total Views
                                                </th>
                                                <th>
                                                    Prediksi
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-center">
                                            {% for influencer in influencers %}
                                            <tr>
                                                <td>
                                                    {% if influencer.statistic|length >= 2 %}
                                                        {% set latest_engagement = influencer.statistic[-1].engagementRate %}
                                                        {% set second_latest_engagement = influencer.statistic[-2].engagementRate %}
                                                        <div class="container badge {% if latest_engagement > second_latest_engagement %}badge-gradient-success{% elif latest_engagement < second_latest_engagement %}badge-gradient-danger{% else %}badge-gradient-primary{% endif %}">
                                                            {% if latest_engagement > second_latest_engagement %}
                                                                +{{ (latest_engagement - second_latest_engagement)|round(2) }}%
                                                            {% elif latest_engagement < second_latest_engagement %}
                                                                -{{ (second_latest_engagement - latest_engagement)|round(2) }}%
                                                            {% else %}
                                                                No Growth
                                                            {% endif %}
                                                        </div>
                                                    {% else %}
                                                        <div class="container badge badge-gradient-dark">
                                                        No Growth Data
                                                        </div>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <img src="{{ url_for('static', filename='avatar/' + influencer.username + '_avatar.jpg') }}" class="mr-2" alt="image">
                                                </td>
                                                <td class="text-left">
                                                    {{ influencer.username }}
                                                </td>
                                                <td>
                                                    {{ influencer.statistic[-1].followerCount | format_number }}
                                                </td>
                                                <td>
                                                    {{ influencer.statistic[-1].heartCount | format_number }}
                                                </td>
                                                <td>
                                                    {{ influencer.statistic[-1].totalPlayCount | format_number }}
                                                </td>
                                                <td>
                                                    <a href="{{ url_for('prediksi_influencer', influencer_id=influencer._id, lastPage='home') }}" class="btn btn-sm btn-gradient-primary btn-rounded">Detail</a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-12 grid-margin text-center">
                                <div class="container col-2">
                                    <a href="{{ url_for('influencer') }}" class="btn btn-sm btn-gradient-primary btn-rounded">Lihat Lebih</a>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}