{% extends "layout.html" %}

{% block body_main %}
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
          <i class="mdi mdi-bullhorn"></i>                
        </span>
        Kampanye
      </h3>
      <!-- <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
            <span></span>Overview
            <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
          </li>
        </ul>
      </nav> -->
    </div>
    <div class="row">
    </div>
    <div class="row">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Recent Tickets</h4>
            <h5>Latest Retrieve:</h5>
            <div class="table-responsive">
              <table class="table text-center">
                <thead>
                  <tr>
                    <th>
                      No.
                    </th>
                    <th>
                      Nama Kampanye
                    </th>
                    <th>
                      Jumlah Video
                    </th>
                    <th>
                      Tampilkan Detail
                    </th>
                    <th>
                      Action
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      1
                    </td>
                    <td>
                      Emina Bright Stuff
                    </td>
                    <td>
                      10
                    </td>
                    <td>
                      <button type="button" class="btn btn-sm btn-gradient-primary btn-rounded justify-content-center ">Detail</button>
                    </td>
                    <td>
                      <button type="button" class="btn btn-sm btn-gradient-info" data-toggle="modal" data-target="#editModal">
                        <i class="mdi mdi-pencil"></i>
                      </button>
                      <button type="button" class="btn btn-sm btn-gradient-danger" data-toggle="modal" data-target="#deleteModal">
                        <i class="mdi mdi-delete"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'edit_modal.html' %}
  {% include 'delete_modal.html' %}
{% endblock %}